* {
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

button {
  background-color: #257985;
   color: #FFFFFF;
   font-size: 16px;
   font-family: 'Kanit', sans-serif;
   border: none;
   border-radius: 5px;
   width: auto;
   height: 30px;
}

button:hover {
  background-color: #257885e4;
    cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #5ea8a741;
  border-top: 3px solid #5ea8a7;
  box-shadow: 5px 4px 5px #5ea8a790;
  width: 75%;
  margin-left: 15%;
  list-style-type: none;
}

.notFound {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 10px;
}
